.cor {
  color:blueviolet;
  text-align: center;  
  
}

#teste {
 color: blue;

}


body {
    background-color:rosybrown;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}




