#title , #botao {
  color: aliceblue;
  margin-left: 45%;
  text-align: center;
  width: 200px;
  background-color: darkgrey;
}

body {
  background-color: gray;
}

#nome-completo,
#input-email,
#foto-perfil,
#text-area1,
#input-senha #input-estado {
  height: 20px;
  width: 300px;
  padding: 3px;
  margin-top: 3%;
}

.nome,
.email,
.estado-onde-voce-mora,
.foto,
.comidas-favoritas,
.area-do-texto,
.digitar-senha,
.checkbox {
  color: bisque;
  text-align: center;
  
}
#botao{
  margin-right: 20%;  
}

 
